$color-primary: #e01931;

$color-secondary: #fad12b;

$color-gray-dark-1: #252525;
$color-gray-dark-2: #333333;

$color-gray-light-1: #E9E9E9;

$color-purple: #7C4396;
$color-blue:#1F96E0;

$color-white: #fff;