.footer {
    padding: 3.125rem;

    &__list {
        margin-bottom: 1.5rem;
    }

    &__link {
        display: block;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        border: 1px solid $color-primary;
        background: $color-white;
        margin-right: 10px;
        padding: 10px;
        color: $color-primary;
        transition: all .8s ease;

        &:hover {
            background: $color-primary;
            color: $color-white;
        }
    }
}