
.feature-heading {
    padding: 0 8rem 5rem 8rem;
}

.feature-box {

    &__icon {
        color: $color-primary;
        transition: all .8s ease;
    }

    &__item {

    }

    &:hover > &__icon {
        color: $color-purple;
        
    }


}